bin
generated
/build/
/build-*/
/site/
scripts/redis*
cmake-build-debug
cmake-build-release

!thirdparty/*/bin/

sc-machine.json
manifest.json
*.user
*.*~
*.log
*.log.*
*.pem
*.env
client_secret.json

.vscode
.idea
__pycache__
.DS_store
.antlr
.cache

.coverage
